[changelog]
header = """
# Changelog

All notable changes to this project will be documented in this file.
Format based on [Conventional Commits](https://www.conventionalcommits.org/).\n
"""
body = """
{%- macro remote_url() -%}
  https://github.com/{{ remote.github.owner }}/{{ remote.github.repo }}
{%- endmacro -%}

{% if version -%}
    ## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else -%}
    ## [Unreleased]
{% endif -%}

{% for group, commits in commits | group_by(attribute="group") %}
    ### {{ group | striptags | trim | upper_first }}
    {% for commit in commits %}
        - {% if commit.scope %}**{{ commit.scope }}**: {% endif %}{{ commit.message | upper_first }}\
          {% if commit.github.username %} by @{{ commit.github.username }}{%- endif -%}
          {% if commit.github.pr_number %} in #{{ commit.github.pr_number }}{%- endif %}
    {%- endfor %}
{% endfor %}

{%- if github.contributors | filter(attribute="is_first_time", value=true) | length != 0 %}

    ### New Contributors
    {%- for contributor in github.contributors | filter(attribute="is_first_time", value=true) %}
        - @{{ contributor.username }} made their first contribution in #{{ contributor.pr_number }}
    {%- endfor %}
{%- endif -%}

{% if version %}
    {% if previous.version %}
        **Full Changelog**: [{{ previous.version }}...{{ version }}]({{ self::remote_url() }}/compare/{{ previous.version }}...{{ version }})
    {% endif %}
{% else -%}
    {% raw %}\n{% endraw %}
{% endif %}
"""
trim = true
postprocessors = [
    { pattern = '<REPO>', replace = "https://github.com/${GITHUB_REPOSITORY}" },
]

[git]
conventional_commits = true
filter_unconventional = false
split_commits = false
commit_parsers = [
    { message = "^feat", group = "Features" },
    { message = "^fix", group = "Bug Fixes" },
    { message = "^perf", group = "Performance" },
    { message = "^doc|^docs", group = "Documentation" },
    { message = "^refactor", group = "Refactor" },
    { message = "^style", skip = true },
    { message = "^test", skip = true },
    { message = "^chore", skip = true },
    { message = "^ci", skip = true },
    { message = "^build", skip = true },
    { body = ".*security", group = "Security" },
]
protect_breaking_commits = false
filter_commits = false
tag_pattern = "v[0-9].*"
topo_order = false
sort_commits = "newest"
